# Assignment 2

### Imports

In [41]:
import pandas as  pd

## 1 - Data Handling

### Loading Dataset

In [42]:
# Loading dataset
df = pd.read_csv('college_student_placement_dataset.csv')

### Initial Checks

In [43]:
# Previewing dataset
df.head()

,College_ID,IQ,Prev_Sem_Result,CGPA,Academic_Performance,Internship_Experience,Extra_Curricular_Score,Communication_Skills,Projects_Completed,Placement
0,CLG0030,107,6.61,6.28,8,No,8,8,4,No
1,CLG0061,97,5.52,5.37,8,No,7,8,0,No
2,CLG0036,109,5.36,5.83,9,No,3,1,1,No
3,CLG0055,122,5.47,5.75,6,Yes,1,6,1,No
4,CLG0004,96,7.91,7.69,7,No,8,10,2,No

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   College_ID              10000 non-null  object
 1   IQ                      10000 non-null  int64
 2   Prev_Sem_Result         10000 non-null  float64
 3   CGPA                    10000 non-null  float64
 4   Academic_Performance    10000 non-null  int64
 5   Internship_Experience   10000 non-null  object
 6   Extra_Curricular_Score  10000 non-null  int64
 7   Communication_Skills    10000 non-null  int64
 8   Projects_Completed      10000 non-null  int64
 9   Placement               10000 non-null  object
dtypes: float64(2), int64(5), object(3)
memory usage: 781.4+ KB

In [40]:

# Check for duplicates
print("Duplicate rows:", df.duplicated().sum())


# Checking missed values
df.isnull().sum().sort_values(ascending=False)

Duplicate rows: 0

College_ID                0
IQ                        0
Prev_Sem_Result           0
CGPA                      0
Academic_Performance      0
Internship_Experience     0
Extra_Curricular_Score    0
Communication_Skills      0
Projects_Completed        0
Placement                 0
dtype: int64

### Handling Missing Values & Duplicates

In [ ]:

df.dropna(inplace=True) #drop missing values if exist (but not exist in my case)

df = df.drop_duplicates() #Removing if any duplicate (But no duplicate in my case)

Duplicate Rows 0

### Encoding Categorical Features

In [ ]:

#Removing Extra spaces of columns
df['Internship_Experience'] = df['Internship_Experience'].str.strip()
df['Placement'] = df['Placement'].str.strip()

# Converting 'Yes'/'No' to 1/0 for Internship Experience
df['Internship_Experience'] = df['Internship_Experience'].map({'Yes':1 ,'No':0})


# Converting 'Yes'/'No' to 1/0 for Placement
df['Placement'] = df['Placement'].map( {'Yes':1,'No':0})    

df.head()

,College_ID,IQ,Prev_Sem_Result,CGPA,Academic_Performance,Internship_Experience,Extra_Curricular_Score,Communication_Skills,Projects_Completed,Placement
0,CLG0030,107,6.61,6.28,8,0,8,8,4,0
1,CLG0061,97,5.52,5.37,8,0,7,8,0,0
2,CLG0036,109,5.36,5.83,9,0,3,1,1,0
3,CLG0055,122,5.47,5.75,6,1,1,6,1,0
4,CLG0004,96,7.91,7.69,7,0,8,10,2,0

### Dropping not useful data

In [ ]:
df = df.drop('College_ID', axis = 1)

## 2 - Exploratory Data Analysis

### Basic Statistics (Using numpy & pandas)